html {
  box-sizing: border-box;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50vh;
  background: url("http://wes.io/iEgP/wow-so-deep.jpg") bottom center no-repeat;
  background-size: cover;
}

h1 {
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
  color: white;
}

nav {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;
  background: black;
  transition: all 0.5s;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

li.logo {
  max-width: 0;
  font-size: 30px;
  font-weight: 600;
  background: white;
  overflow: hidden;
  transition: all 0.5s;
}

.fixed-nav li.logo {
  max-width: 100px; /* you can not animate smth from width 0 to with auto, use max-width */
}

li.logo a {
  color: black;
}

nav a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: all 0.2s;
}

.site-wrap {
  max-width: 700px;
  margin: 70px auto;
  padding: 40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
}

.fixed-nav .site-wrap {
  transform: scale(1);
}

.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}
